.app-container {
    text-align: center;
}

.buttons-row {
    justify-content: center;
}

#delivery-button-div {
    padding: 2rem;
}

#delivery-button-div:hover {
    color: burlywood;
}

#carryout-button-div {
    padding: 2rem;
}

#carryout-button-div:hover {
    color: burlywood;
}

.button-as {
    color: inherit;
}

.button-as:hover {
    text-decoration: none;
}

.delivery-icon {
    font-size: 10rem;
}

.carryout-icon {
    font-size: 10rem;
}

.button-h1s {
    margin-top: 0rem;
}

.productButton {
    background: none;
    border: none;
    background-color: rgb(183, 203, 204);
}

